# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if you don't want to share launch configs)
#.vscode/

# Flutter/Dart/Pub
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication/obfuscation
app.*.symbols
app.*.map.json

# Android Studio build output
/android/app/debug
/android/app/profile
/android/app/release
